/* -----------------GENERELT----------------- */
img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.hide {
  display: none;
}

.display {
  display: block;
}

/* -----------------TEKST----------------- */
h1 {
  text-decoration: none;
  font-size: 500%;
  letter-spacing: -0.1rem;
  line-height: 1;
  margin-bottom: 1rem;
  margin-top: 1em;
  font-weight: bold;
}

h1 span {
  color: red;
  font-weight: bolder;
  display: inline-block;
  transform: scaleX(-1) translateX(-0.2rem);
}

h2 {
  font-size: 2.441rem;
  letter-spacing: -0.12rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 1em;
  font-weight: bold;
}

h3 {
  font-size: 1.953rem;
  letter-spacing: -0.02rem;
  line-height: 1.2;
}

html {
  font-size: calc(18px + ((100vw - 600px) / 250));
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
}

/* -----------------INDEX----------------- */
.indexlinks a,
nav a {
  text-decoration: underline;
  text-decoration-color: rgb(24, 23, 23);
}
.indexlinks a:hover,
nav a:hover {
  text-decoration-color: red;
  color: red;
}

/* -----------------KATEGORI----------------- */

.categorylist a {
  text-decoration: none;
  padding: 2rem;
  color: white;
  background-color: rgb(255, 55, 0);
  border-radius: 10px;
  text-underline-offset: 2px;
}

.categorylist a:hover {
  color: black;
}

/* -----------------PRODUKTLISTE----------------- */
.productlist article.soldOut img {
  opacity: 0.3;
  text-decoration: "Sold Out";
  padding: 5px;
}

.subtle {
  color: rgb(180, 179, 179);
}

/* on sale */
.discounted p:last-child {
  background: rgb(237, 31, 31);
  padding: 5px;
}

article a {
  color: rgb(255, 0, 0);
}
article a:hover {
  text-decoration: underline;
}

/* ---------------------------------------------- */
